<p id="notice"><%= notice %></p>
<h2>Hello, <%= @user.username %></h2>


<h2>Previously Attended Events</h2>
  <% @user.stats.each do |att| %>
    <% if att.attended_event.date < Time.now %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <div class="alert alert-info" role="alert">
            <%= event.date %>
          </div>
          <%= link_to "Go to Event", event_path(event), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>


<h2>Upcoming Events</h2>
  <% @user.stats.each do |att| %>
    <% if att.attended_event.date > Time.now %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <div class="alert alert-info" role="alert">
            <%= event.date %>
          </div>
          <%= link_to "Go to Event", event_path(event), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
<%= link_to 'Back', root_path, class: "btn btn-primary mt-2" %>