  <div class="text-center">
    <p class="h3"><%= @event.title %></p>
    <p class="h4"><small class="text-muted">created by <%= @event.creator.username %></small></p>
    <p><%= @event.description %></p>
    <p><%= @event.date %></p>

    <h2>List of attendees</h2>
    <ul>
      <% @event.stats.each do |att| %>
        <li>
          <%= att.attendee.username %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Attend this event", event_attend_path(@event, attendee_id: current_user.id), method: :post %>
    <%= link_to "Home", root_path %>
  </div>
